body {
  margin: 0;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.header {
  height: 10%;
  background-color: yellow;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-container {
  height: 90%;
  display: flex;
}
.navbar {
  width: 25%;
  border-right: 1px solid black;
}
.transaction-container {
  width: 75%;
  overflow: auto;
}
.current-balance {
  height: 10%;
  background-color: red;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.budget-expense-display {
  height: 40%;
  display: flex;
  background-color: lightcyan;
  justify-content: space-around;
  align-items: center;
}
.budget-display {
  height: 60%;
  width: 40%;
  /* background-color: violet; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.budget-title {
  font-size: 2rem;
}
.budget-value {
  font-size: 2rem;
}
.expense-display {
  height: 60%;
  width: 40%;
  border: 1px solid black;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expense-title {
  font-size: 2rem;
}
.expense-value {
  font-size: 2rem;
}
.transaction-history-container {
  height: 60%;
  /* background-color: green; */
  display: flex;
}
.transaction-history {
  height: 100%;
  width: 50%;
  /* background-color: yellow; */
  border: 1px solid black;
  border-left: none;
  overflow: auto;
}
.transaction-history-title {
  font-size: 1.5rem;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transaction-list-item {
  height: 30%;
  width: 80%;
  margin-bottom: 0.5em;
  background-color: rgb(179, 172, 172);
  list-style-type: none;
  border-radius: 5px;
  text-align: center;
}
.pichart-display {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: red; */
}
form {
  margin: 2em;
  padding: 1em;
  border-bottom: 1px solid black;
}
/*  EXPENSE PAGE */
.expense-label {
  margin: 1em;
}
.expense-amount {
  margin: 1em;
}
.expense-category {
  margin: 1em;
}
.btn {
  font-size: 1rem;

  border-radius: 5px;
}
.danger {
  background-color: red;
  color: white;
}
.reset-expenses {
  margin: 2em;
}

/* Update Budget page */
.reset-budget {
  margin: 2em;
}

/* SPENDING CATAGORY PAGE */

.spending-category-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
}
.spending-categories {
  height: 90%;
  width: 90%;
  margin: 0.5em auto;
  /* border: 1px solid black;  */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.category {
  height: 40%;
  width: 20%;
  background-color: red;
  margin: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category-name {
  font-size: 1.5rem;
}
.category-spending {
  font-size: 1.5rem;
}

.modal {
  height: 50%;
  width: 40%;
  background-color: rgb(0, 115, 255);
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 15;
}
.modal-text {
  height: 75%;
  width: 100%;
  margin: 1em;
  color: white;
  align-items: center;
}
.modal-text-title {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 0.5em;
}
.modal-text-key {
  font-size: 1rem;
  font-weight: bolder;
}
.modal-text-detail {
  font-size: 1rem;
}
.modal-btn-container {
  height: 20%;
  width: 50%;
  align-self: flex-end;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: 10;
  display: none;
}

@media (max-width: 768px) {
  .header {
    height: 7%;
  }
  .navbar {
    display: none;
  }
  .transaction-container {
    width: 100%;
  }
  .current-balance {
    height: 7%;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
  }
  .budget-expense-display {
    height: 30%;
  }
  .budget-display {
    overflow-x: auto;
  }
  .budget-title {
    font-size: 1.5rem;
  }
  .budget-value {
    font-size: 1.5rem;
  }
  .expense-display {
    overflow-x: auto;
  }
  .expense-title {
    font-size: 1.5rem;
  }
  .expense-value {
    font-size: 1.5rem;
  }
  .transaction-history-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .transaction-history {
    width: 90%;
    /* background-color: yellow; */
    border: 1px solid black;
    overflow: auto;
  }
  .pichart-display {
    width: 90%;
    border: 1px solid black;
    /* background-color: red; */
  }
}
